@import url("@styles/variables.css");
@import url("@styles/reset.css");

.footer {
  background-color: rgb(0, 0, 0);

  padding: 50px 0;
}

.footerFilho {
  padding: 10px 0;

  color: var(--color-white-02);

  transition: color 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer li {
  display: flex;

  gap: 20px;
}

.footer svg {
  font-size: 1.4em;

  cursor: pointer;
}

.footer svg:hover {
  color: var(--text-blue-01);
}

.footer:hover {
  color: var(--color-white-01);
}

.copy2025 {
  transition: color 0.5s ease;
}

.copy2025:hover {
  text-decoration: underline;
  color: var(--text-blue-01);
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 0;

    display: flex;
    justify-content: center;
  }

  .boxFilhoFooter {
    max-width: 300px;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .boxFilhoFooter {
    max-width: 200px;

    height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
  }

  .footerFilho {
    height: 25dvh;
    justify-content: space-evenly;
    width: 100%;
  }

  .boxFilho2 {
    display: flex;
    height: 25dvh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}