@import url("@styles/variables.css");
@import url("@styles/reset.css");

.footer {
  height: 100px;
  width: 300px;

  margin-left: 20%;
  padding: 20px;

  color: var(--color-white-02);

  transition: color 0.5s ease;
}

.footer ul {
  padding-bottom: 20px;
}

.footer li {
  display: flex;

  gap: 20px;
}

.footer svg {
  font-size: 1.4em;

  cursor: pointer;
}

.footer svg:hover {
  color: var(--text-yellow-01);
}

.footer:hover {
  color: var(--color-white-01);
}

@media screen and (max-width: 800px) {
  .footer {
    margin: 0 5%;
  }
}
