@import url("@styles/variables.css");
@import url("@styles/reset.css");

.footer {
  background-color: rgb(0, 0, 0);

  padding: 50px 0;
}

.footerFilho {
  height: 100px;

  padding: 10px 0;

  color: var(--color-white-02);

  transition: color 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer li {
  display: flex;

  gap: 20px;
}

.footer svg {
  font-size: 1.4em;

  cursor: pointer;
}

.footer svg:hover {
  color: var(--text-yellow-01);
}

.footer:hover {
  color: var(--color-white-01);
}

.copy2025 {
  transition: color 0.5s ease;
}

.copy2025:hover {
  text-decoration: underline;
  color: var(--text-yellow-01);
}
