.footer {
  height: 100px;
  width: 300px;

  margin-left: 20%;
  padding: 20px;

  color: rgba(255, 255, 255, 0.384);

  transition: color 0.5s ease;
}

.footer ul {
  padding-bottom: 20px;
}

.footer li {
  display: flex;

  gap: 20px;
}

.footer svg {
  font-size: 1.4em;

  cursor: pointer;
}

.footer svg:hover {
  color: rgb(255, 255, 0);
}

.footer:hover {
  color: rgba(255, 255, 255, 0.842);
}

@media screen and (max-width: 800px) {
  .footer {
    margin: 0 5%;
  }
}
